:root {
    --clr-primary-100: hsl(0, 0%, 100%);
    --clr-primary-400: hsl(263, 55%, 52%);
    --clr-primary-500: hsl(217, 19%, 35%);
    --clr-primary-600: hsl(219, 29%, 14%);

    --clr-neutral-400: hsl(210, 46%, 95%);
    --clr-neutral-500: hsl(0, 0%, 81%);


    --ff-primary: "Barlow Semi Condensed", sans-serif;

    --fw-500: 500;
    --fw-600: 600;

    --fs-400: 13px;

}

*,
*::before,
*::after {
    box-sizing: border-box; 
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol,
a {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
}

h2 {
    font-weight: var(--fw-600);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background-color: var(--clr-neutral-400);
}

main {
    padding: 8rem;
}

.testimonial-grid-section {
    display: grid;
    gap: 1.5rem;
    
}

.card {
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    color: var(--clr-neutral-500);
}

.card:nth-child(1) {
    background-color: var(--clr-primary-400);
    grid-area: one;
    .card_header_image {
        outline: hsla(0, 0%, 81%, 0.5) 2px solid;
    }
    
}

.card>.card_title {
    z-index: 2;
    line-height: 1.2;
}

.card:nth-child(1)::after {
    content: url(./images/bg-pattern-quotation.svg);
    position: absolute;
    top: 8rem;
    left: 29.5rem;
    z-index: 1;


}

.card:nth-child(2) {
    background-color: var(--clr-primary-500);
    grid-area: two;
}

.card:nth-child(3) {
    background-color: var(--clr-primary-100);
    color: initial;
    grid-area: three;
    box-shadow: 0px 35px 50px -15px hsla(0, 0%, 0%, 0.2); 

    .card_title {
        color: initial;
        opacity: .7;
    }
}

.card:nth-child(4) {
    background-color: var(--clr-primary-600);
    grid-area: four;

    .card_header_image {
        outline: hsla(263, 55%, 52%, 0.5) 2px solid;
    }
}

.card:nth-child(5) {
    background-color: var(--clr-primary-100);
    color: initial;
    grid-area: five;
    box-shadow: 0px 35px 50px -15px hsla(0, 0%, 0%, 0.2); 

    .card_title {
        color: initial;
        opacity: .7;
    }
}
.card>.card_text {
    opacity: .7;
}

.card_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    line-height: 1.25;
}

.card_header>.card_header_image {
    border-radius: 100%;
    width: 2rem;
    aspect-ratio: 1;
}

.card_header .card_header_info_name {
    font-weight: var(--fw-600);
}

.card_header .card_header_info_job {
    opacity: .5;
}

.card_title {
    color: var(--clr-neutral-400);
}

.testimonial-grid-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "one one two five"
        "three four four five";
}

@media screen and (max-width:1050px) {
    .card:nth-child(1)::after { 
        left: 25rem;
    }
    .testimonial-grid-section {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "one one"
            "two three"
            "four four"
            "five five";
    }
}

@media screen and (max-width:650px) {
    .testimonial-grid-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five";
    }
    main {
        padding: 5rem 1.75rem;
    }
    .card:nth-child(1)::after {
        top: 5rem;
        left: 14rem;
    }
}

.attribution {
    position: relative;
    bottom:0;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}